<div class="col-xs-6 col-xs-offset-3">
  <div class="text-center">
    <h1>Wikinimous: Edit article</h1>
  </div>

  <%= render 'form' %>

  <div class="text-center">
    <%= link_to "Return to index", articles_path, class: 'btn btn-primary' %>
  </div>
</div>
