<div class="col-xs-6 col-xs-offset-3">
  <div class="text-center">
    <h1><%= @article.title %></h1>
    <p><%= @article.content %></p>
  </div>

  <div class="text-center">
    <%= link_to "Return to index", articles_path, class: 'btn btn-primary' %>
  </div>
</div>
